html{
    background: #e3e3e3;
}




/* Type selector: body, h1, div & p
    Id selector: #blog
    Class selector: .blog posts
    attribute selector: a[title]{}
*/

/* Index html */

/* modifies whatever link is inside []*/
a[title]{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    color: black;
}
/* Modifies all of the document */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: black;;
    border-top: 10px solid #242424;
    background: #fff;
    }
    
    /* Modifies all of the h1 tags */
    h1 {
    font-size: 3em;
    margin: 0;
    }
    
    /* Modifies all of the paragraphs */
    p{
    line-height: 1.4em;
    }
    
    /* Modifies all of the entire blog  */
    #blog {
    border-top: 1px dotted #ccc;
    }
    
    /* Modifies both of the blosg */
    article {
    border-bottom: 1px dotted #000;
    }
    
    .fam-questions{
        font-size: 2.5em;
        color: black;
        margin: 0;
    }

    .friend-questions{
        font-size: 2.5em;
        color: black;
        margin: 0;
    }
    }

    
    /* Contact page html */
    div{
        font-size: 2em;
        color: black;

    }
    
    
    
    
    
    /* About page html */
    #about{
     font-size: 2em;
     color: black;
}
    #fun-facts{
        font-size: 2em;
        color: black;
    }

    ul{
        font-size: 1.4em;
        color: black;
    }
    
    
